{
  "openapi": "3.0.3",
  "info": {
    "title": "Fragment Donor Public API",
    "version": "0.1.0",
    "description": "Independent service, not an official Telegram, Fragment, or TON product. No service authentication. Default shared quota: 30 requests per IP per minute across all endpoints. Credential-bearing requests are server-side only. The inspected backend stores submitted purchase credentials.",
    "license": {
      "name": "MIT",
      "url": "https://github.com/usnuz/fragment-donor-sdk/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://fragment.donor.uz"
    }
  ],
  "security": [],
  "paths": {
    "/get-user-info/": {
      "get": {
        "operationId": "getUserInfo",
        "summary": "Check Telegram username and Premium status",
        "security": [],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^@?[A-Za-z][A-Za-z0-9_]{3,31}$",
              "example": "durov"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details; additional fields are preserved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "username": {
                      "type": "string"
                    },
                    "is_premium": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or upstream purchase failure; error details may appear in error, reason, or info.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "info": {},
                    "retry_after": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "flood_wait": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "tx_hash": {
                      "type": "string"
                    },
                    "transient": {
                      "type": "boolean"
                    },
                    "unconfirmed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "FLOOD_WAIT: wait retry_after seconds. No automatic purchase retries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "info": {},
                    "retry_after": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "flood_wait": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "tx_hash": {
                      "type": "string"
                    },
                    "transient": {
                      "type": "boolean"
                    },
                    "unconfirmed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Whole seconds to wait.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "503": {
            "description": "RATE_LIMIT_UNAVAILABLE: safety limiter unavailable; no automatic purchase retries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "info": {},
                    "retry_after": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "flood_wait": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "tx_hash": {
                      "type": "string"
                    },
                    "transient": {
                      "type": "boolean"
                    },
                    "unconfirmed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          }
        }
      }
    },
    "/buy-stars/": {
      "post": {
        "operationId": "buyStars",
        "summary": "Gift Telegram Stars",
        "description": "Requires your own wallet mnemonic and Fragment Cookie header. No service API key. Sends a real-money transaction. Never retry automatically; no idempotency-key or purchase status endpoint exists.",
        "security": [],
        "parameters": [
          {
            "name": "Mnemonic",
            "in": "header",
            "required": true,
            "description": "Wallet mnemonic with 12, 18, or 24 words. Secret; use only on a trusted backend. The API operator can access and the inspected backend persists it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Wallet-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "auto",
                "v5r1",
                "v4r2",
                "v3r2"
              ],
              "default": "auto"
            }
          },
          {
            "name": "Wallet-Address",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Proxy",
            "in": "header",
            "required": false,
            "description": "Optional provider proxy; credentials, if any, are secrets.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Api-Key",
            "in": "header",
            "required": false,
            "description": "Optional TonConsole provider key, NOT authentication to Fragment Donor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stel_ssid",
            "in": "cookie",
            "required": true,
            "description": "Fragment session cookie. In direct HTTP calls send the entire Fragment Cookie header; this cookie parameter models the principal session value. Never put a real session in public examples.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "amount"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "pattern": "^@?[A-Za-z][A-Za-z0-9_]{3,31}$",
                    "example": "durov"
                  },
                  "amount": {
                    "type": "integer",
                    "minimum": 50,
                    "maximum": 1000000
                  },
                  "payment_method": {
                    "type": "string",
                    "enum": [
                      "usdt_ton",
                      "ton"
                    ],
                    "default": "usdt_ton"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Purchase accepted; preserve any additional fields.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or upstream purchase failure; error details may appear in error, reason, or info.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "info": {},
                    "retry_after": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "flood_wait": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "tx_hash": {
                      "type": "string"
                    },
                    "transient": {
                      "type": "boolean"
                    },
                    "unconfirmed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "FLOOD_WAIT: wait retry_after seconds. No automatic purchase retries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "info": {},
                    "retry_after": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "flood_wait": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "tx_hash": {
                      "type": "string"
                    },
                    "transient": {
                      "type": "boolean"
                    },
                    "unconfirmed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Whole seconds to wait.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "503": {
            "description": "RATE_LIMIT_UNAVAILABLE: safety limiter unavailable; no automatic purchase retries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "info": {},
                    "retry_after": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "flood_wait": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "tx_hash": {
                      "type": "string"
                    },
                    "transient": {
                      "type": "boolean"
                    },
                    "unconfirmed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          }
        }
      }
    },
    "/buy-premium/": {
      "post": {
        "operationId": "buyPremium",
        "summary": "Gift Telegram Premium",
        "description": "Requires your own wallet mnemonic and Fragment Cookie header. No service API key. Sends a real-money transaction. Never retry automatically; no idempotency-key or purchase status endpoint exists.",
        "security": [],
        "parameters": [
          {
            "name": "Mnemonic",
            "in": "header",
            "required": true,
            "description": "Wallet mnemonic with 12, 18, or 24 words. Secret; use only on a trusted backend. The API operator can access and the inspected backend persists it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Wallet-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "auto",
                "v5r1",
                "v4r2",
                "v3r2"
              ],
              "default": "auto"
            }
          },
          {
            "name": "Wallet-Address",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Proxy",
            "in": "header",
            "required": false,
            "description": "Optional provider proxy; credentials, if any, are secrets.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Api-Key",
            "in": "header",
            "required": false,
            "description": "Optional TonConsole provider key, NOT authentication to Fragment Donor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stel_ssid",
            "in": "cookie",
            "required": true,
            "description": "Fragment session cookie. In direct HTTP calls send the entire Fragment Cookie header; this cookie parameter models the principal session value. Never put a real session in public examples.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "duration"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "pattern": "^@?[A-Za-z][A-Za-z0-9_]{3,31}$",
                    "example": "durov"
                  },
                  "duration": {
                    "type": "integer",
                    "enum": [
                      3,
                      6,
                      12
                    ]
                  },
                  "payment_method": {
                    "type": "string",
                    "enum": [
                      "usdt_ton",
                      "ton"
                    ],
                    "default": "usdt_ton"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Purchase accepted; preserve any additional fields.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or upstream purchase failure; error details may appear in error, reason, or info.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "info": {},
                    "retry_after": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "flood_wait": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "tx_hash": {
                      "type": "string"
                    },
                    "transient": {
                      "type": "boolean"
                    },
                    "unconfirmed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "FLOOD_WAIT: wait retry_after seconds. No automatic purchase retries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "info": {},
                    "retry_after": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "flood_wait": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "tx_hash": {
                      "type": "string"
                    },
                    "transient": {
                      "type": "boolean"
                    },
                    "unconfirmed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Whole seconds to wait.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "503": {
            "description": "RATE_LIMIT_UNAVAILABLE: safety limiter unavailable; no automatic purchase retries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "info": {},
                    "retry_after": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "flood_wait": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "tx_hash": {
                      "type": "string"
                    },
                    "transient": {
                      "type": "boolean"
                    },
                    "unconfirmed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          }
        }
      }
    },
    "/wallet-balance/": {
      "get": {
        "operationId": "walletBalance",
        "summary": "Read TON and USDT-TON wallet balances",
        "security": [],
        "parameters": [
          {
            "name": "Mnemonic",
            "in": "header",
            "required": true,
            "description": "Wallet mnemonic with 12, 18, or 24 words. Secret; use only on a trusted backend. The API operator can access and the inspected backend persists it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Wallet-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "auto",
                "v5r1",
                "v4r2",
                "v3r2"
              ],
              "default": "auto"
            }
          },
          {
            "name": "Wallet-Address",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Proxy",
            "in": "header",
            "required": false,
            "description": "Optional provider proxy; credentials, if any, are secrets.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Api-Key",
            "in": "header",
            "required": false,
            "description": "Optional TonConsole provider key, NOT authentication to Fragment Donor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exact decimal strings; never convert balances to binary floating point.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "address": {
                      "type": "string"
                    },
                    "ton": {
                      "type": "string"
                    },
                    "usdt_ton": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or upstream purchase failure; error details may appear in error, reason, or info.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "info": {},
                    "retry_after": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "flood_wait": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "tx_hash": {
                      "type": "string"
                    },
                    "transient": {
                      "type": "boolean"
                    },
                    "unconfirmed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "FLOOD_WAIT: wait retry_after seconds. No automatic purchase retries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "info": {},
                    "retry_after": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "flood_wait": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "tx_hash": {
                      "type": "string"
                    },
                    "transient": {
                      "type": "boolean"
                    },
                    "unconfirmed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Whole seconds to wait.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "503": {
            "description": "RATE_LIMIT_UNAVAILABLE: safety limiter unavailable; no automatic purchase retries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "info": {},
                    "retry_after": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "flood_wait": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "tx_hash": {
                      "type": "string"
                    },
                    "transient": {
                      "type": "boolean"
                    },
                    "unconfirmed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "walletBalancePost",
        "summary": "Read TON and USDT-TON wallet balances",
        "security": [],
        "parameters": [
          {
            "name": "Mnemonic",
            "in": "header",
            "required": true,
            "description": "Wallet mnemonic with 12, 18, or 24 words. Secret; use only on a trusted backend. The API operator can access and the inspected backend persists it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Wallet-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "auto",
                "v5r1",
                "v4r2",
                "v3r2"
              ],
              "default": "auto"
            }
          },
          {
            "name": "Wallet-Address",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Proxy",
            "in": "header",
            "required": false,
            "description": "Optional provider proxy; credentials, if any, are secrets.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Api-Key",
            "in": "header",
            "required": false,
            "description": "Optional TonConsole provider key, NOT authentication to Fragment Donor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exact decimal strings; never convert balances to binary floating point.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "address": {
                      "type": "string"
                    },
                    "ton": {
                      "type": "string"
                    },
                    "usdt_ton": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or upstream purchase failure; error details may appear in error, reason, or info.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "info": {},
                    "retry_after": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "flood_wait": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "tx_hash": {
                      "type": "string"
                    },
                    "transient": {
                      "type": "boolean"
                    },
                    "unconfirmed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "FLOOD_WAIT: wait retry_after seconds. No automatic purchase retries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "info": {},
                    "retry_after": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "flood_wait": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "tx_hash": {
                      "type": "string"
                    },
                    "transient": {
                      "type": "boolean"
                    },
                    "unconfirmed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Whole seconds to wait.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "503": {
            "description": "RATE_LIMIT_UNAVAILABLE: safety limiter unavailable; no automatic purchase retries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "info": {},
                    "retry_after": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "flood_wait": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "tx_hash": {
                      "type": "string"
                    },
                    "transient": {
                      "type": "boolean"
                    },
                    "unconfirmed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          }
        }
      }
    }
  }
}
